<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Numbers</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="registration_number.css">
    <link rel="shortcut icon" href="numPlate.jpg" type="image/x-icon">
    <script src="jquery-3.6.0.js"></script>

</head>

<body>
    
    <h1 class="head-title">Registration Number Plates</h1>
<form action="/reg_numbers" method="post">
    <div class="center">      
        <div class="center"><span class="spanning">
                <h4 class="regLbl">Registration Number :</h4>
                <input type="text" class="inputField" id="" name="nameInput" placeholder="Registration number">
            </span>
        </div>
    </div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
<div class="textDiv">

        <div class="error_out">
            {{errorOut}}
        </div>

        <div class="confirm_out">
            {{successOut}}
        </div>

    </div>

    </div>
    <div class="col-1"></div>
</div>
    <div class="textDiv">

        <div class="error_out">
            {{errorOut}}
        </div>

        <div class="confirm_out">

        </div>

    </div>


    <div class="center">
        <div class="center">
            <input type="submit" value="Add" formaction="/">
            <input type="submit" value="show" formaction="/show">
            <input type="submit" value="Show All" formaction="/showAll">
            <input type="submit" value="Clear" formaction="/reset">
           
        </div>
    </div>

    <div class="_10pxh"></div>


    <div class="center">
        <div class="center">            
                <input type="radio" formaction="/add" name="rgBtn" value="CA" id="">Cape Town
                <input type="radio" name="rgBtn" value="CY" id="">Bellville
                <input type="radio" name="rgBtn" value="CW" id="">Worcester
        </div>
    </div>

    </div>

    <br>
    <div class="center">
        <div class="center">
            <div class="display">
                {{#each out}}
               <div class="thePlates">{{this}}</div> 
                {{/each}}

            </div>
        </div>
    </div>
</form>
</body>
<script src="client.js"></script>

</html>